    {% load static %}
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <ul>
                            <li>Direccion: Enrique Segoviano, Santiago</li>
                            <li>Telefono: +569 98590459</li>
                            <li>Correo: repuestosHD@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Enlaces</h6>
                        <ul>
                            <li><a href="#">Sobre Nosotros</a></li>
                            <li><a href="#">Sobre Nuestra Tienda</a></li>
                            <li><a href="#">Compra Segura</a></li>
                            <li><a href="#">Información de Delivery</a></li>
                            <li><a href="#">Politica de Privacidad</a></li>
                            <li><a href="#">Mapa del Sitio</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Quienes Somos</a></li>
                            <li><a href="#">Nuestros Servicios</a></li>
                            <li><a href="#">Projectos</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Innovación</a></li>
                            <li><a href="#">Testimonios</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Unete a nuestra comunidad Ahora</h6>
                        <p>Agrega tú correo enterate de actualizaciones, estado de tu compra y ofertas especiales.</p>
                        <form action="#">
                            <div>
                            <input type="text" placeholder="Ingresa tú correo">
                             </div>
                            <div>
                                <ul>
                               
                                    </ul>
                                </div>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                    <div>
                        
                          <button type="submit" class="site-btn"> Subscribete </button>
                            
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="{% static 'img/payment-item.png'%}" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->